<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <script src="/js/home/comment.js" defer></script>
  <style>
    * {
      color:white;
    }
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    button, input[type=button]{
      background-color: black;
      border: 1px solid gray;
      border-radius: 5px;
      margin-right: 5px;
    }
  </style>
</head>
<body style="background-color:black">
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="color:white;float:left" alt="메인으로"><%- headerName -%></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 86px"></div>
  
  <div style="position:relative;margin:50px auto;width:1500px;height:1000px">
    <button style="background-color:black;">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
      </svg>
    </button><br><br>
    <div style="font-size:30px;">댓글 <span id="commentCount">0</span></div>
    <br>
    <div style="border:1px solid gray;border-radius:25px;padding:25px;font-size:20px;">
      <div style="display:inline-block"><span id="ip">(182.208)</span> <span id="content">sdafasdf</span></div>
      <div style="float:right;"><span id="date">2022.06.01 11:46:18</span></div>
      <div><input id="likeCount" type="button" value="좋아요"><input id="dislikeCount" type="button" value="싫어요"><input type="button" value="공유"><input type="button" value="수정"><input type="button" value="삭제"></div>
      <br>
      <div style="border:1px solid gray;border-radius:25px;padding:25px;font-size:20px;">
        <div style="display:inline-block">(182.208) <input type="text" name="comment" id="comment" style="width:auto;background-color:black;border-width:0 0 1px 0;" placeholder="글쓰기"></div>
        </div>
      </div>
    </div>
  </div>
  
  <%- foot -%>
</body>
</html>