<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <script src="/js/home/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/home/comment.js" defer></script>
  <style>
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    input[type=button]{
      border: 1px solid gray;
      border-radius: 5px;
      margin-right: 5px;
    }
  </style>
</head>
<body>
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="float:left" alt="메인으로"><%- headerName -%></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 86px"></div>
  
  <div id="displayComment" style="position:relative;margin:50px auto;width:1200px;height:auto;">
    <button class="background-color-white" style="border:0;">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
      </svg>
    </button><br><br>
    <!-- <div style="font-size:30px;">댓글 <span id="commentCount">0</span></div> -->
    <br>
    <div style="border:1px solid gray;border-radius:25px;padding:25px;font-size:20px;">
      <div style="display:inline-block"><span id="ip" style="border:1px solid rgb(80, 80, 80)">...</span> <span id="content">...</span></div>
      <div>
        <input class="background-color-white" id="likeCount" type="button" value="좋아요">
        <input class="background-color-white" id="dislikeCount" type="button" value="싫어요">
        <input class="background-color-white" type="button" value="공유">
        <input class="background-color-white" type="button" value="수정">
        <input class="background-color-white" type="button" value="삭제">
        <div style="float:right;"><span id="date">...</span></div>
      </div>
      <br>
      <div style="border:1px solid gray;border-radius:25px;padding:25px;font-size:20px;">
        <div style="display:inline-block"><input class="background-color-white" type="text" name="comment" id="comment" style="width:1000px;border-width:0 0 1px 0;" placeholder="댓글"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="display:none;position:absolute;top:670px;left:calc(50% - 24px);padding:auto;text-align:center;" id="spreadButton">
    <div style="display:inline;">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
    </div>
  </div>
  <%- foot -%>
</body>
</html>