<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <script src="/js/home/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/home/editArticle.js" defer></script>
  <style>
    * {
      color:white;
    }
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    input {
      background-color: black;
      border-width: 0 0 1px 0;
    }
    textarea {
      background-color: black;
      border-width: 1px;
    }
  </style>
</head>
<body style="background-color:black">
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="color:white;float:left" alt="메인으로"><%- headerName -%></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 86px"></div>
  
  <div style="position:relative;margin:50px auto;width:1200px;height:1000px">
    <div style="border: 1px solid black;text-align:center">
      <div style="width:100%"><h1><span id="path"></span></h1></div>
      <input type="text" name="title" id="title" style="width:100%; font-size: 50px;" placeholder="제목">
      <div style="height:100px"></div>
      <textarea id="detail" style="width:100%;height:300px;font-size: 30px;" placeholder="내용"></textarea>
      <input type="password" name="pw" id="pw" style="width:250px; font-size: 20px;" placeholder="수정 비밀번호">
      <button style="border: 1px solid gray;background-color:black;font-size: 20px;">글쓰기</button>
    </div>
  </div>
  
  <%- foot -%>
</body>
</html>