<!DOCTYPE html>
  <html lang="ko">
    <head>
      <%- head -%>
      <style>
        .base-border{
          border-width: 1px 0 0 1px;
          border-color: white;
        }
      </style>
    </head>
    <body>
      <header alt="๋ค๋น๊ฒ์ดํฐ">
        <nav class="navbar fixed-top navbar-light bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="./" style="margin-left:30px" alt="๋ฉ์ธ์ผ๋ก"><span style="font-size:40px">๐ด๐๐๐๐</span><span style="font-size:28px; margin-left:10px">๐ท๐๐๐๐๐๐</span></a>
          </div>
        </nav>
      </header>
      <div style="padding-top: 83px"></div>
      
      <div style="position:relative;margin:50px auto;width:1060px;">
        <div style="border:1px solid black;height:1060px;text-align:center">
          <div style="font-size:70px;margin:200px 0">๋ก๊ทธ์ธ</div>
          <div style="font-size:30px;text-align:left;display:inline-block;width:500px">
            <div style="float:left;display:inline-block">์์ด๋</div><div style="float:right;display:inline-block"><input type="text" name="id"></div>
            <div style="padding-top:52px;display:inline-block"></div>
            <div style="float:left;display:inline-block">๋น๋ฐ๋ฒํธ</div><div style="float:right;display:inline-block"><input type="text" name="pw"></div>
          </div>
        </div>
        <a href="./register">ํ์๊ฐ์</a>
      </div>

      <%- foot -%>
    </body>
    </html>