<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <script src="js/home/makeChannel.js" defer></script>
  
  <style>
    * {
      color:white;
    }
    input {
      background-color: black;
      border-width: 0 0 1px 0;
    }
    textarea {
      background-color: black;
      border-width: 1px;
    }
  </style>
</head>
<body style="background-color:black">
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./" style="color:white;margin-left:30px" alt="메인으로"><%- headerName -%></a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 183px"></div>
  
  <div style="position:relative;margin:50px auto;width:1500px;height:1000px">
    <div style="border: 1px solid black;text-align:center">
      <span style="font-size:50px;">채널 신청</span>
      <div style="border: 1px solid gray;padding:30px;height:700px;">
        <div style="padding: 20px;font-size:20px;">제목(*필수) <input minlength="1" maxlength="10" id="title" type="text"></div>
        <div style="padding: 20px;font-size:20px;">path id(*필수) <input minlength="1" maxlength="10" id="pathID" type="text"></div>
        <div style="padding: 20px;font-size:20px;">설명(선택) <textarea id="explain" type="text"></textarea></div>
        <div style="padding: 20px;font-size:20px;">이메일 회신(선택) <input id="email" type="text"></div>
        <button style="border: 1px solid gray;background-color:black;font-size: 30px;">요청</button>
      </div>
    </div>
  </div>

  <%- foot -%>
</body>
</html>